<!DOCTYPE html>

<html>
    <head>
        <title>SignalRLoad</title>     
        <script src="~/Scripts/jquery-1.6.4.min.js"></script>          
        <script src="~/Scripts/jquery.signalR-2.0.0.js"></script>
        <script src="~/signalr/hubs"></script>
    </head>
    <body>
        <div>
            Hello world!
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var connection = $.hubConnection();
                $.connection.hub.logging = true;
                var hubProxy = connection.createHubProxy('loadHub');

                hubProxy.on("hello", function(num) {
                    console.log("Received from first proxy" + num);
                });

                connection.start().done(function() {
                    hubProxy.invoke("hello");
                    connection = $.hubConnection();
                    var hubProxy2 = connection.createHubProxy('loadHub');

                    hubProxy2.on("hello", function (num) {
                        console.log("Received from second proxy" + num);
                    });

                    connection.start().done(function () {
                        console.log("Two conns?");
                        hubProxy2.invoke("hello");
                    }).fail(function () {
                        console.log("Connection failed");
                    });
                }).fail(function() {
                    console.log("Connection failed");
                });
                

            });
        </script>
    </body>
</html>