<!DOCTYPE html>

<html>
    <head>
        <title>Load test for: SignalR</title>     
        <script src="~/Scripts/libs/jquery-1.6.4.min.js"></script>          
        <script src="~/Scripts/libs/jquery.signalR-2.0.0.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/libs/highcharts.js"></script>
        <script src="~/Scripts/Globals.js"></script>
        <script src="~/Scripts/Socket.js"></script>
        <script src="~/Scripts/Models.js"></script>
        <script src="~/Scripts/Dom.js"></script>
        <script src="~/Scripts/Charts.js"></script>
        <script src="~/Scripts/ClientFunctions.js"></script>
        <script src="~/Scripts/Communication.js"></script>
        <script src="~/Scripts/Main.js"></script>
    </head>
    <body>
        <div id="pageContainer">
            <div>
                <h1 id="header">Load test of :</h1>
                <table>
                    <tr>
                        <td>
                            <label for="chartAPIInput">Url for chart API:</label>
                            <input id="chartAPIInput" type="text" placeholder="absolute path" value="http://localhost/ChartsAPI/api/charts"/>                                    
                        </td>
                        <td>
                            <label for="transports">Transport:</label>
                            <input type="text" id="transports"/>
                            <!--Available: webSockets, serverSentEvents, foreverFrame, longPolling-->
                        </td>                                                
                    </tr>
                    <tr>
                        <td>
                            <label for="spacing">Spacing of x-axis:</label>
                            <input id="spacing" type="number" value="1"/>                       
                        </td>
                        <td>
                            <label for="instanceId">Id of this browser:</label>
                            <input id="instanceId" type="number" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="totalClients">Total number of clients:</label>
                            <input id="totalClients" type="number"/>   
                        </td>
                        <td>
                            <label for="clientsBrowser">Number of clients in browser</label>
                            <input id="clientsBrowser" type="number"/>        
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="connInterval">Connection interval</label>
                            <input id="connInterval" type="number"/> 
                        </td>
                        <td>
                            <label for="msgs">Number of messages pr. client</label>
                            <input id="msgs" type="number"/> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="msgInterval">Message interval (in ms)</label>
                            <input id="msgInterval" type="number"/>
                        </td>
                        <td>
                            <label for="type">Type of test:</label>
                            <select id="type">
                                <option value="echo">Echo</option>
                                <option value="broadcast">Broadcast</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="masterBtn">Master?</label>
                            <input id="masterBtn" type="checkbox"/>
                        </td>
                        <td>
                            <button id="connect">Init connections</button>
                            <button id="start" style="display: none">Start test</button>
                            <button id="getCharts" style="display:none">Get charts</button>
                        </td>
                    </tr>
                    <tr><td><div id="info"><h2>Console:</h2></div></td></tr>
                </table>
            </div>
            <div id="charts">
                <div id="messagesSentReceivedChart" style="height:400px;"></div>
                <div id="messagesSentFromServerChart" style="height:400px;"></div>
                <div id="averageLatencyChart" style="height:400px;"></div>
            </div>
        </div> 
    </body>
</html>