<!DOCTYPE html>

<html>
    <head>
        <title>SignalRLoad</title>     
        <script src="~/Scripts/libs/jquery-1.6.4.min.js"></script>          
        <script src="~/Scripts/libs/jquery.signalR-2.0.0.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/libs/highcharts.js"></script>
        <script src="~/Scripts/Globals.js"></script>
        <script src="~/Scripts/Models.js"></script>
        <script src="~/Scripts/Dom.js"></script>
        <script src="~/Scripts/Charts.js"></script>
        <script src="~/Scripts/ClientFunctions.js"></script>
        <script src="~/Scripts/Communication.js"></script>
        <script src="~/Scripts/Main.js"></script>
    </head>
    <body>
        <div id="pageContainer">
            <h1 id="header">Load test of :</h1>
            <select id="type">
                <option value="echo">Echo</option>
                <option value="broadcast">Broadcast</option>
            </select>
            <div id="master">
                <button id="masterBtn">Promote first client</button>
            </div>
            <input id="numberOfClients" type="text" placeholder="Number of clients"/>
            <input id="connInterval" type="text" placeholder="Connection interval"/>
            <button id="connect">Init connections</button>            
            <input id="msgInterval" type="text" placeholder="Message interval"/>
            <input id="msgs" type="text" placeholder="Number of messages"/>
            <button id="init">Start test</button>
            <h2 id="running">Running...</h2>
            <button id="getCharts">Get results</button>
            <div id="charts">
                <div id="messagesSentReceivedChart" style="height:400px;"></div>
                <div id="messagesSentFromServerChart" style="height:400px;"></div>
            </div>
        </div> 
    </body>
</html>