<!DOCTYPE html>

<html>
    <head>
        <title>SignalRLoad</title>     
        <script src="~/Scripts/libs/jquery-1.6.4.min.js"></script>          
        <script src="~/Scripts/libs/jquery.signalR-2.0.0.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/Globals.js"></script>
        <script src="~/Scripts/Models.js"></script>
        <script src="~/Scripts/Charts.js"></script>
        <script src="~/Scripts/ClientFunctions.js"></script>
        <script src="~/Scripts/Communication.js"></script>
    </head>
    <body>
        <div>
            Hello world!
        </div>
    </body>
</html>