@(hasWS: Boolean)

@main("Auction House", hasWS) {
    <div id="wrapper">
    <div id="header" data-bind="with: headerView">
        <h1 class="welcome">Welcome to Master Auctions!</h1>
        <div class="logged_in_as"  data-bind="visible: user().userID">
            <span class="logged_in_as_label">Logged in as:</span> <br/>
            <a data-bind="text: user().username, click: $root.itemView.openItemView" href=""></a> <!--TODO: action on this link: see bids-->
        </div>
        <div id="bidItems" data-bind="jqDialog: $root.itemView.viewItemsOptions,
        template: {name: 'viewBidsTemplate', data: $root.itemView.viewItems, if: $root.itemView.viewItems()}, openDialog: $root.itemView.viewItems">
        </div>
        <div class="log_in_register">
            <a data-bind="visible: !user().userID, click: $data.openLogin.bind($data, 'log_in')" href="">Log in</a>
            <br/>
            <a data-bind="visible: !user().userID, click: $data.openRegister.bind($data, 'register')" href="">Register</a>
        </div>
        <div id="horizontalHeaderLine"></div>
        <div id="log_in" data-bind="jqDialog: $data.log_in_options,
             template: { name: 'loginTemplate', data: $data.log_in_action, if: $data.log_in_action }, openDialog: $data.log_in_action">
        </div>
        <div id="register" data-bind="jqDialog: $data.register_options,
             template: { name: 'registerTemplate', data: $data.register_action, if: $data.register_action }, openDialog: $data.register_action">
        </div>
    </div>
    <div id="itemViewModelWrapper" data-bind="with: itemView">
        <button id="addItemButton" class="btn" data-bind="click: openNewItem, visible: $root.headerView.user().userID">Add item</button>
        <div id="additem" data-bind="jqDialog: $data.newItemOptions,
                template: {name: 'addItemTemplate', data: $data.newItem, if: $data.newItem}, openDialog: $data.newItem">
        </div>
        <div id="itemWrapper" data-bind="foreach: items">
            <div class="item">
                <div class="itemHeader">
                    <h2 data-bind="text: name"></h2>
                    <div id="horizontalItemHeaderLine"></div>
                </div>
                <div class="itemContent">
                    <div class="itemInfo">
                        <label>Itemnumber: </label><span data-bind="text: itemno"></span> <br/>
                        <label>Minumum price: </label><span data-bind="text: minPrice"></span> <br/>
                        <label data-bind="visible: bid() !== 0">Highest bid: </label>
                        <span data-bind="text: bid(), visible: bid() !== 0"></span> <br/>
                        <label>Expires </label><span data-bind="text: expireDate"></span> <br/>
                        <label data-bind="visible: bid() !== 0">Highest Bidder: </label> <br/>
                        <span data-bind="text: highestBidder(), visible: bid() !== 0"></span>
                    </div>
                    <div class="itemDescription">
                        <span data-bind="html: description"></span>
                    </div>
                    <div class="buttonBar" data-bind="visible: $root.headerView.user().userID">
                        <button class="bidButton btn" data-bind="click: $parent.openPlaceBid">Place bid</button>
                        <button class="removeButton btn" data-bind="visible: addedByID === $root.headerView.user().userID,
                        click: $parent.sendRemoveItem.bind($data, $data.itemno)">
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="place_bid" data-bind="jqDialog: $data.placeBidOptions,
             template: { name: 'placeBidTemplate', data: $data.selectedItem, if: $data.selectedItem }, openDialog: $data.selectedItem">
        </div>
    </div>
</div>

}
