<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Auction House</title>

    <!-- Scripts -->
    <script type="text/javascript" src="../ExternalScripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../ExternalScripts/jqueryUI-1.10.0.js"></script>
    <script type="text/javascript" src="../ExternalScripts/require.js"></script>
    <script type="text/javascript" src="../ExternalScripts/lightstreamer.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../Styles/main.css" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h1 class="welcome">Welcome to Master Auctions!</h1>
        <div class="logged_in_as">
            <span class="logged_in_as_label">Logged in as:</span> <br/>
            <a href=""></a> <!--TODO: link opens viewBids in jqdialog-->
        </div>
        <div class="log_in_register">
            <a href="">Log in</a>
            <br/>
            <a href="">Register</a>
        </div>
        <div id="horizontalHeaderLine"></div>
        <!--TODO: remember jqdialogs-->
    </div>
    <div id="itemViewModelWrapper">
        <button id="addItemButton" class="btn" onclick="window.auction.message.openAddItem()">Add item</button>
        <!--TODO: jqdialog here-->
        <div id="itemWrapper" data-source="lightstreamer">
            <div class="item">
                <div class="itemHeader">
                    <h2><span data-source="lightstreamer" data-field="name"></span></h2>
                    <div id="horizontalItemHeaderLine"></div>
                </div>
                <div class="itemContent">
                    <div class="itemInfo">
                        <label>Itemnumber: </label><span data-source="lightstreamer" data-field="itemno"></span> <br/>
                        <label>Minumum price: </label><span data-source="lightstreamer" data-field="price"></span>
                        <br/>
                        <label>Highest bid: </label> <!--TODO: only visible when bid > 0 - onVisualUpdate??-->
                        <span data-source="lightstreamer" data-field="bid"></span> <br/>
                        <label>Expires </label><span data-source="lightstreamer" data-field="expires"></span> <br/>
                        <!--TODO: format like localeString-->
                        <label>Highest Bidder: </label> <br/>
                        <span data-source="lightstreamer" data-field="highestbidder"></span>
                        <!--TODO: only visible when bid > 0-->
                    </div>
                    <div class="itemDescription">
                        <span data-source="lightstreamer" data-field="description"></span>
                    </div>
                    <div class="buttonBar"> <!--TODO: Only visible when logged in-->
                        <button class="bidButton btn">Place bid</button>
                        <span class="hidden" data-source="lightstreamer" data-field="addedByID"></span>
                        <button class="removeButton btn">Remove</button>
                        <!--TODO: only visible if item was added by logged in user-->
                    </div>
                </div>
            </div>
        </div>
        <!--TODO: jqdialog for placing bid-->
    </div>
</div>

<div id="addItemDialog">
    <label for="itemname">Name: </label> <br/>
    <input type="text" id="itemname" size="30"/> <br/>
    <label for="minprice">Minimum price: </label> <br/>
    <input type="number" min="0" step="10" id="minprice"/>  <br/>
    <label for="expires">Expires: </label> <br/>
    <input type="date" id="expires"/> <br/>
    <label for="description">Description: </label> <br/>
    <textarea rows="10" cols="31" id="description"></textarea>
    <button id="addButton" class="btn" onclick="window.auction.message.sendAddItem()">Add</button>
</div>



<script type="text/javascript" src="../Scripts/init.js"></script>
<script type="text/javascript" src="../Scripts/models.js"></script>
<script type="text/javascript" src="../Scripts/json.js"></script>
<script type="text/javascript" src="../Scripts/dialogs.js"></script>
<script type="text/javascript" src="../Scripts/messageHandler.js"></script>
<script type="text/javascript" src="../Scripts/subscriptionHandler.js"></script>

</body>
</html>