<template name="log_in_dialog">
  	<div id="log_in_dialog">
    	<label for="log_usern">Username: </label>
    	<input type="text" id="log_usern" /> <br/>
    	<label for="log_pass">Password: </label>
    	<input type="password" id="log_pass"/>
    	<button id="log_in_button" class="btn">Log_in</button>
  	</div>
</template>

<template name="register_dialog">
    <div id="register_dialog">
        <label for="firstname">Firstname: </label>
        <input type="text" id="firstname"/> <br/>
        <label for="lastname">Lastname: </label>
        <input type="text" id="lastname"/> <br/>
        <label for="adress">Adress: </label>
        <input type="text" id="adress"/> <br/>
        <label for="username">Username: </label>
        <input type="text" id="username"/> <br/>
        <label for="password">Password: </label>
        <input type="password" id="password"/> <br/>
        <button id="register_button" class="btn" data-bind="click: $parent.sendRegister">Register</button>	
    </div>
</template>

<template name="add_item_dialog">
	<div id="add_item_dialog">
        <label for="itemname">Name: </label> <br/>
        <input type="text" id="itemname" size="30"/> <br/>
        <label for="minprice">Minimum price: </label> <br/>
        <input type="number" min="0" step="10" id="minprice"/>  <br/>
        <label for="expires">Expires: </label> <br/>
        <input type="date" id="expires"/> <br/>
        <label for="description">Description: </label> <br/>
        <textarea rows="10" cols="31" id="description"></textarea>
        <button id="addButton" class="btn">Add</button>		
	</div>
</template>

<template name="place_bid_dialog">
    <div id="place_bid_dialog">
        <label for="bid">Place your bid: </label>
        <input type="number" id="bid" min="0" step="10" value="{{value}}"/>
        <button id="place_bid_button" class="btn">Place bid</button>        
    </div>
</template>
