<template name="itemcontainer">
	 <div id="itemWrapper">
	     <!--TODO: make function called items that return all items from db-->
		  {{#each items}}
			   {{>item}}
		  {{/each}}
	</div>
</template>

<template name="item">
    <div class="item">
        <div class="itemHeader">
            <h2 >{{name}}</h2>
            <div class="horizontalItemHeaderLine"></div>
        </div>		
        <div class="itemContent">
            <div class="itemInfo">
                <label>Itemnumber: </label><span>{{itemno}}</span> <br/>
               	<label>Minumum price: </label><span>{{minPrice}}</span> <br/>
               	<div class="{{bidVisibility}}"> <!--TODO: make function-->
               	    <label>Highest bid: </label>
               		   <span>{{bid}}</span>
               	</div>
               	<label>Expires </label><span>{{expireDate}}</span>
               	<br/>
               	<div class="{{bidVisibility}}">
               	    <label>Highest Bidder: </label> <br/>
               		  <span>{{highestBidder}}</span>  
               	</div>      		
        	</div>
        	<div class="itemDescription">
        	   <span>{{description}}</span>
        	</div>

        	<div class="buttonBar {{loggedIn}}">
              <button class="bidButton btn">Place bid</button> <!--TODO: open dialog AND make template-->
            	<button class="removeButton btn {{removeVisible}}">Remove</button><!--TODO: make functions for visibility and removing-->        	
        	</div>
        </div>
	</div>
</template>