@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title </title>     
        <script type="text/javascript" src="@routes.Assets.at("javascripts/Libs/jquery-1.6.4.min.js")"></script>      
        <script src="@routes.Assets.at("javascripts/Libs/highcharts.js")"></script>
        <script src="@routes.Assets.at("javascripts/Globals.js")"></script>
        <script src="@routes.Assets.at("javascripts/Socket.js")"></script>
        <script src="@routes.Assets.at("javascripts/Models.js")"></script>
        <script src="@routes.Assets.at("javascripts/Dom.js")"></script>
        <script src="@routes.Assets.at("javascripts/Charts.js")"></script>
        <script src="@routes.Assets.at("javascripts/ClientFunctions.js")"></script>
        <script src="@routes.Assets.at("javascripts/Communication.js")"></script>
        <script src="@routes.Assets.at("javascripts/Main.js")"></script>
    </head>
    <body>
        <div id="pageContainer">
            <h1 id="header">Load test of : Play</h1>
            <select id="type">
                <option value="echo">Echo</option>
                <option value="broadcast">Broadcast</option>
            </select>
            <div id="master">
                <button id="masterBtn">Promote first client</button>
            </div>
            <input id="numberOfClients" type="text" placeholder="Number of clients"/>
            <input id="connInterval" type="text" placeholder="Connection interval"/>
            <button id="connect">Init connections</button>            
            <input id="msgInterval" type="text" placeholder="Message interval"/>
            <input id="msgs" type="text" placeholder="Number of messages"/>
            <button id="init">Start test</button>
            <h2 id="running">Running...</h2>
            <button id="getCharts">Get results</button>
            <div id="charts">
                <div id="messagesSentReceivedChart" style="height:400px;"></div>
                <div id="messagesSentFromServerChart" style="height:400px;"></div>
                <div id="averageLatencyChart" style="height:400px;"></div>
            </div>
        </div> 
    </body>
</html>
